
body {
  margin: 0;
  font-family: cursive;
  background: white url("https://images.pexels.com/photos/355288/pexels-photo-355288.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat;
  background-size: cover;


}
div {
  background: white url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReqFgUDS_mWixqtwz7Gh9Q6xQcpNknU5l06A&usqp=CAU") no-repeat;
  background-size: cover;
  margin: auto;
  max-height: 450px;
  height: 100%;
  width: 45%;
  border: 3px solid black;
  border-radius: 20px;
  padding: 1px 1px;
  text-align: center;
  overflow: auto;
  vertical-align: middle;
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}
input[type='text'] {
  width: 75%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 150%;
}
input[type='submit']{
  width: 75%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
input[type='submit']:hover {
  background-color: gray; /* Green */
  color: black;
}
h2{
  padding-top: 10px;
  font-size: 85%;
}
